* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}

html {
  font-size: 62.5%;
}

/*aca va el Header y sus hijos!*/
.header {
  width: 100%;
  height: 20rem;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__logo {
  margin-left: 3rem;
  width: 30.03rem;
  height: 18.09rem;
}

.header__menu {
  margin-right: 3rem;
}

.header__menu ul {
  display: none;
  list-style: none;
  padding: 0rem;
  position: absolute;
  width: 10rem;
  text-align: right;
  margin: 0rem 0rem 0rem -1.4rem;
}

.header__menu:hover ul, .header__menu ul:hover {
  display: block;
}

.header__menu li {
  margin: 1rem 0rem;
}

.header__menu li a {
  color: white;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.header__menu--profile {
  margin-right: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header__menu--profile img {
  margin-right: 0.8rem;
  width: 4rem;
}

.header__menu--profile p {
  margin: 0rem;
  color: white;
}

/*Esto es el Nav y el boton menu*/
.navigator {
  width: 100%;
  margin: auto;
  background: #024959;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigator ul {
  overflow: hidden;
  list-style: none;
}

.navigator ul li {
  float: left;
}

.navigator ul li a {
  color: #fff;
  padding: 2rem;
  display: block;
  text-decoration: none;
}

.navigator ul li span {
  margin-right: 1rem;
}

.navigator ul li a:hover {
  background: #037E8C;
}

.menu_bar {
  display: none;
}

/*aca va la section con sus hijos*/
.section {
  height: auto;
  min-height: 10vh;
  background-color: #3f3737;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__container--box {
  padding: 5rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*si se achica pantalla el contenedor se desplaza hacia abajo*/
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.title__box {
  width: 100%;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: inline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}

.title__box h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 0rem;
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
}

.title__box span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  padding: 3rem 2rem;
}

.box {
  width: 30rem;
  margin: 0rem 2rem;
  margin-bottom: 5rem;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid black;
}

.box a {
  text-decoration: none;
  /*desaparece la linea azul del link*/
  cursor: pointer;
  /*cambia la flecha del cursor en una mano*/
  color: black;
  font-size: 2rem;
  padding: 2rem;
}

.box a span {
  margin-right: 2rem;
}

.box a:hover {
  text-decoration: underline;
}

.box p {
  padding-bottom: 1rem;
}

/*aca va en mapa*/
.mapa {
  width: 100%;
  height: 100%;
}

.mapa .mapa__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

/*aca va el Footer con sus hijos*/
.footer {
  width: 100%;
  height: 10rem;
  font-size: 1.5rem;
  background-color: #09550f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer a {
  text-decoration: none;
  /*desaparece la linea azul del link*/
  cursor: pointer;
  /*cambia la flecha del cursor en una mano*/
  color: black;
}

.footer a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=tabletservicios.css.map */